/* Basic style */
:root {
  --primary: #fff;
  --secondary: #050840;
  --highlight-primary: #7ce7c9;
  --highlight-secondary: #9d7beb;
  --radius: 0.5rem;
  --pill: 2rem;
  --line: 0.1rem;
}
* {
  box-sizing: border-box;
}
body {
  margin: 2rem;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 2rem;
  background: var(--secondary);
}
section {
  max-width: 90vw;
}
a {
  display: inline-block;
  margin: 0.2em;
  padding: 0.4em 0.8em;
  background: var(--secondary);
  color: var(--highlight-primary);
  border: var(--line) solid var(--highlight-primary);
  border-radius: var(--pill);
  font-weight: normal;
  text-decoration: none;
}
a:hover {
  color: var(--primary);
  border-color: var(--primary);
}

/* UI Event Classes */

/* Jump animation on the interaction link */
a:nth-of-type(12) {
  position: relative;
  background: var(--highlight-secondary);
  color: var(--secondary);
  border-color: var(--secondary);
}

.jump {
  animation: jump .3s infinite linear;
}

@keyframes jump {
  0% {
    transform: scale(1, 1) translateY(0);
  }
  10% {
    transform: scale(1.1, 0.9) translateY(0);
  }
  30% {
    transform: scale(0.9, 1.1) translateY(-5rem) rotate(10deg);
  }
  50% {
    transform: scale(1.05, 0.95) translateY(0);
  }
  57% {
    transform: scale(1, 1) translateY(-0.5rem) rotate(-2deg);
  }
  64% {
    transform: scale(1, 1) translateY(0);
  }
  100% {
    transform: scale(1, 1) translateY(0);
  }
}

/* Jouw animaties */

/* Animation 1 |feedback-button| */
a:nth-of-type(15) {
  background: var(--highlight-secondary);
  color: var(--secondary);
  border-color: var(--secondary);
}
.background {
animation: background .3s infinite linear;
}

@keyframes background {
  0%   { background: rgb(255, 0, 0) }
  20%  { background: #00ff04 }
  40%  { background: #9d00ff }
  60%  { background: rgb(252, 151, 0) }
  80%  { background: #00c8ff }
  100% { background: #ff00d4 }
}

/* Animation 2 |feedforward-button| */
a:nth-of-type(16) {
  background: var(--highlight-secondary);
  color: var(--secondary);
  border-color: var(--secondary);
}

.buttonrotate {
  animation: buttonrotate .3s infinite linear;
  }

  @keyframes buttonrotate {
    50% {transform: rotate(360deg);}
  }

  /* Animation 3 |&-button| */
  a:nth-of-type(3) {
    background: var(--highlight-secondary);
    color: var(--secondary);
    border-color: var(--secondary);
  }

  .hide {
    display: none;
  }

    /* Animation 4 |User-flow-button| */
  a:nth-of-type(13) {
    position: relative;
    background: var(--highlight-secondary);
    color: var(--secondary);
    border-color: var(--secondary);
  }

  .userflow-button {
    animation: userflow-animation .3s infinite linear;
    }

  @keyframes userflow-animation {
    10% {transform: scale(1.0)}
    20% {transform: scale(2.0)}
    30% {transform: scale(3.0)}
    40% {transform: scale(4.0)}
    50% {transform: scale(6.0)}
    60% {transform: scale(8.0)}
    70% {transform: scale(6.0)}
    80% {transform: scale(3.0)}
    90% {transform: scale(4.0)}
    100% {transform: scale(1.0)}
  }

  a:nth-of-type(11) {
    position: relative;
    background: var(--highlight-secondary);
    color: var(--secondary);
    border-color: var(--secondary);
  }

  .skew-button {
    animation: skew .3s infinite linear;
    }

  @keyframes skew {
    20% {transform: skew(30deg, 20deg)}
    40% {transform: skew(90deg, 120deg);}
    60% {transform: skew(20deg, 70deg);}
    80% {transform: skew(170, 58deg);}
    100% {transform: skew(30deg, 20deg);}
  }

  a:nth-of-type(2) {
    position: relative;
    background: var(--highlight-secondary);
    color: var(--secondary);
    border-color: var(--secondary);
  }
  .matrix-button {
    animation: matrix .3s infinite linear;
    }

  @keyframes matrix {
    45% {transform:matrix(0.90,1.81,-2.52,-1.28,-50,-41);}
    90% {transform:matrix(-2.52,-1.28,-0.54,0.91,35,-14);}
  }

/*  animatie 7 |frontend-button| */ 
  a:nth-of-type(1) {
    position: relative;
    background: var(--highlight-secondary);
    color: var(--secondary);
    border-color: var(--secondary);
  }

.frontend-button {
  animation: frontend 3s infinite linear;
 }

@keyframes frontend {
  10% {transform:matrix(-2.52,-1.28,-0.54,0.91,35,-14);}
  25% {transform:translateX(50em) translateY( 25em);}
  80% {transform:matrix(-2.52,-1.28,-0.54,0.91,35,-14);}
}

/*  Animatie 8 |Wireflow-button| */ 
a:nth-of-type(14) {
  position: relative;
  background: var(--highlight-secondary);
  color: var(--secondary);
  border-color: var(--secondary);
}